@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    overflow: overlay;
    width: 100vw;
    height: 100vh;
}
header {
    background: white;
    width: 100vw;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / -2;
}
.div_logo {
    margin-left: 80px;
}
.logo {
    width: 8rem;
}
.div_container_nav {
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.div_nav_header > nav > ul {
    display: flex;
    list-style-type: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #1D2130;
}

.div_nav_header > nav > ul > li {
    margin-right: 32px;
    cursor: pointer;
}

.div_button > button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    width: 105px;
    height: 45px;
    background: #1D2130;
    border-radius: 12px;
    border-style: none;
    color: white;
    cursor: pointer; 
}